<img src="/images/tretauto-logo.jpg" width="582" height="46" alt="Tretauto Logo">
<p>
  <strong>Hersteller:</strong>
  <%= @auto.hersteller %>
</p>
<p>
  <strong>Modell:</strong>
  <%= @auto.modell %>
</p>
<p>
  <strong>Land:</strong>
  <%= @auto.land %>
</p>

<p>
	<% @auto.assets.each_with_index do |asset| %>

		<p><%= link_to image_tag(asset.asset.url(:thumb)), asset.asset.url(:original) %></p>
	
	<% end %>

<p>
  <strong>Baujahr:</strong>
  <%= @auto.baujahr %>
</p>
<p>
  <strong>Typ:</strong>
  <%= @auto.typ %>
</p>
<p>
  <strong>Datenbanknr:</strong>
  <%= @auto.datenbanknr %>
</p>
<p>
  <strong>Datenbanknralt:</strong>
  <%= @auto.datenbanknralt %>
</p>
<p>
  <strong>Status:</strong>
  <%= @auto.status %>
</p>
<p>
  <strong>Farbe:</strong>
  <%= @auto.farbe %>
</p>
<p>
  <strong>Antrieb:</strong>
  <%= @auto.antrieb %>
</p>
<p>
  <strong>Konstruktion:</strong>
  <%= @auto.konstruktion %>
</p>
<p>
  <strong>Raeder:</strong>
  <%= @auto.raeder %>
</p>
<p>
  <strong>Ausstattung:</strong>
  <%= @auto.ausstattung %>
</p>
<p>
  <strong>Abmessungl:</strong>
  <%= @auto.abmessungl %>
</p>
<p>
  <strong>Abmessungb:</strong>
  <%= @auto.abmessungb %>
</p>
<p>
  <strong>Abmessungh:</strong>
  <%= @auto.abmessungh %>
</p>
<p>
  <strong>Gewichtinkg:</strong>
  <%= @auto.gewichtinkg %>
</p>
<p>
  <strong>Relevanz:</strong>
  <%= @auto.relevanz %>
</p>
<p>
  <strong>Geschaetztermarktwert:</strong>
  <%= @auto.geschaetztermarktwert %>
</p>
<p>
  <strong>Sonstiges:</strong>
  <%= @auto.sonstiges %>
</p>
<p>
  <strong>Anmerkungen:</strong>
  <%= @auto.anmerkungen %>
</p>
<p>
  <strong>Kaufdatum:</strong>
  <%= @auto.kaufdatum %>
</p>
<p>
  <strong>Ebaybenutzername:</strong>
  <%= @auto.ebaybenutzername %>
</p>
<p>
  <strong>Verkaeufer:</strong>
  <%= @auto.verkaeufer %>
</p>
<p>
  <strong>Ebayartikelnummer:</strong>
  <%= @auto.ebayartikelnummer %>
</p>
<p>
  <strong>Modellbeschreibung:</strong>
  <%= @auto.modellbeschreibung %>
</p>
<p>
  <strong>Farbekauf:</strong>
  <%= @auto.farbekauf %>
</p>
<p>
  <strong>Anmerkungnachkauf:</strong>
  <%= @auto.anmerkungnachkauf %>
</p>
<p>
  <strong>Zahlungsart:</strong>
  <%= @auto.zahlungsart %>
</p>
<p>
  <strong>Zahlungsdatum:</strong>
  <%= @auto.zahlungsdatum %>
</p>
<p>
  <strong>Waehrung:</strong>
  <%= @auto.waehrung %>
</p>
<p>
  <strong>Kaufpreis:</strong>
  <%= @auto.kaufpreis %>
</p>
<p>
  <strong>Transport:</strong>
  <%= @auto.transport %>
</p>
<p>
  <strong>Summe:</strong>
  <%= @auto.summe %>
</p>
<p>
  <strong>Ersatzteile:</strong>
  <%= @auto.ersatzteile %>
</p>
<p>
  <strong>Restaurier:</strong>
  <%= @auto.restaurier %>
</p>
<p>
  <strong>Gesamt:</strong>
  <%= @auto.gesamt %>
</p>

<p>
  <%= link_to "Edit", edit_auto_path(@auto) %> |
  <%= link_to "Destroy", @auto, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", autos_path %>
</p>
